@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', 'sans-serif', 'Open Sans';
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #ffffff;
}

img {
  max-width: 100%;
  margin: 5px;
}

h1, h2 {
  margin: 10px;
}

p {
  margin-left: 10px;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

/*Navbar*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background: #3474e6;
  color: #ffffff;
}

.navbar img {
  max-width: 80px;
  font-weight: bold;
}

.navbar a{
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px; 
}

.navbar a:hover{
  color: lightblue;
}

.navbar ul {
  display: flex;
}

.navbar ul li{
  margin-left: 20px;
}

/*Header*/

.header{
  background-color: #82aceb;
  color: #ffffff;
  min-height: 200px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2;
}

.header img {
  max-width: 400px;
  margin-top: 10px;
}

.bold {
  font-weight: bold;
}

.grey {
  color: grey;
}

/*Section*/
section {
  padding: 5px;
}

.card {
  flex-direction: column;
  background: #ffffff;
  flex: 0 0 auto;
  border-radius: 10px;
  width: 170px;
  font-size: 12px;
  display: flex;
}

.card-img {
  width: 100%;
  height: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.class-stat {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 12px;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
}

/*Footer*/
footer {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}